*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

.section-title {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: -10px;
}

small {
  display: inline-block;
  color: green;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.underline {
  width: 5rem;
  height: 2px;
  background: #222;
  margin: 0 auto 3rem;
}

.hours-container {
  margin-bottom: 0.5rem;
}

#hours {
  width: 80px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.2rem;
}

.rate-container {
  margin-bottom: 1rem;
}

#tax-rate {
  width: 80px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.2rem;
}

.select-box {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto 4rem;
  text-align: center;
  background: rgb(202, 202, 202);
  background: #fff;
  border: 2px solid #222;
  border-radius: 0.25rem;
}

#options {
  width: 80%;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  height: 2.5rem;
  cursor: pointer;
  color: green;
}

.hours-container input {
  color: green;
}

.rate-container input {
  color: green;
}

.loading-spinner {
  display: none;
}

.display-options {
  display: none;
}

.amount {
  background: rgb(199, 195, 195);
  width: 75%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 2px solid rgb(199, 195, 195);
  outline-offset: 2px;
}

.amount h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.amount h4 {
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.amount p {
  letter-spacing: 1px;
  color: green;
  font-weight: bold;
  font-size: 1.5rem;
}

.amount .hours {
  color: green;
}

.amount h5 {
  letter-spacing: 1px;
  color: red;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

#scale {
  background: red;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;
  padding: 0 0.2rem;
  border-color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .display-options {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .display-options {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .display-options {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1250px) {
  .display-options {
    grid-template-columns: repeat(5, 1fr);
  }
}
